<article class="post">
  <div>
    <h4>
    <a href="{{post_url}}" target="_blank">{{title}}</a>
    </h4>
  </div>
  <div>
    
    {{post_about}}
  </div>
  <div class="text-end">
    < Posted by {{user.username}} on {{format_date created_at}} >
  </div>
</article>