<article class="post">
  <div>
    <h4>
    <a href="/post/{{id}}" target="_blank">{{title}}</a>
    {{!-- change post_url- the href should take you to the id of the post selected --}}
    </h4>
  </div>
  <div>
    
    {{post_about}}
  </div>
  <div class="text-end">
    < Posted by {{user.username}} on {{format_date created_at}} >
  </div>
</article>