<article class="post">
  <div>
    <a href="{{post_url}}" target="_blank">{{title}}</a>
  </div>
  <div class=" ">
    {{post_about}}
  </div>
  <div>
    Posted by {{user.username}} on {{format_date created_at}}
  </div>
</article>