<article>
  <a href="/dashboard"> &larr; Back to dashboard</a>
  <h2>
    Edit Post
  </h2>
  <form class="edit-post-form">
    <div class="form-floating mb-3">
      <input name="post-title" class="form-control" type="text" value="{{post.title}}" />
      <span>({{format_url post.post_url}})</span>
    </div>
    <div class="form-floating mb-3">
      <input name="post-about" class="form-control" type="text" value="{{post.post_about}}" />
      {{!-- <span>({{format_url post.post_url}})</span> --}}
    </div>
    <div>
      {{post.vote_count}} {{format_plural "point" post.vote_count}} by you on {{format_date post.created_at}}
      |
      <a href="/post/{{post.id}}">{{post.comments.length}} {{format_plural "comment" post.comments.length}}</a>
    </div>
    <br />
    <button type="button" class="save-post-btn btn btn-primary" data-postid={{post.id}}>Save post</button>
    <button type="button" class="delete-post-btn btn btn-primary" data-postid={{post.id}} >Delete post</button>
  </form>
</article>

<br />

<form class="comment-form">
  <div class="form-floating mb-3">
    <textarea name="comment-body"  class="form-control"></textarea>
  </div>

  <div>
    <button class="comment-btn btn btn-primary" type="button">Add Comment</button>
  </div>
</form>

{{> comments post.comments}}

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/comment.js"></script>